$include /etc/inputrc

# completion
set completion-ignore-case on
set skip-completed-text on
set show-all-if-ambiguous on
set menu-complete-display-prefix on
set completion-display-width 1
set colored-stats on

TAB: menu-complete
"\e[Z": menu-complete-backward

# vi mode
set editing-mode vi
set keymap vi-command
Control-Space: clear-screen
set keymap vi-insert
Control-Space: clear-screen
set keymap vi-insert
