/*
Last updated: FF73 200209

https://www.reddit.com/r/FirefoxCSS/comments/elkolw/firefox_72_tabs_on_bottom_fix/
*/
#TabsToolbar:not([inFullScreen]) {
  position: absolute;
  bottom: 0;
  left: -2vw;
  width: 102vw;
  display: block;
}

#tabbrowser-tabs {
  top: 300;
  min-width: 50vw;
}
#main-window:not([chromehidden*="toolbar"]) #navigator-toolbox {
  padding-bottom: calc(1px + var(--tab-min-height_tnot));
}

:root {
  --tab-toolbar-navbar-overlap: 0px;
  --tab-min-height: 33px; /* adjust to suit your needs */
  --tab-min-height_tnot: 32px;
}
:root #tabbrowser-tabs {
  --tab-min-height: 33px; /* needs to be the same as above under :root */
  --tab-min-width: 80px;
}

#TabsToolbar:not([inFullScreen]) {
  height: var(--tab-min-height);
  margin-bottom: 0px;
  background-color: var(--toolbar-bgcolor);
}

/* hide windows-controls */
#TabsToolbar #window-controls {
  display: none;
}

#toolbar-menubar[autohide="true"] ~ #TabsToolbar {
  padding-right: 100px;
}
